{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "objectWrap": "collapse",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "none"
}
