.searchBar {
    position: absolute;
    width: 538px;
    height: 53px;
    top: 0;
    left: 0;
    border-radius: 100px;
    @apply shadow-[0px_0px_4px_#00000040]
}

.searchComponent {
    position: absolute;
    width: 150px;
    height: 26px;
    top: 1.5rem;
    font-weight: 400;
    color: #71767c;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal
}

.subHeader {
    position: absolute;
    width: 73px;
    height: 13px;
    top: 7px;
    font-weight: 600;
    color: #000;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap
}
